.blog-container{
    background-color:black;
    width: 100%;
    height: 270px;
    padding:20px;
}
.blog{
    background-color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
    border-radius: 17px;
    width:800px;
    margin-left: 150px;
}
.blog h1{
    color: #00de3b;
}