.service-container{
    width: 100%;
    height: 400px;
    background-color: black;
    
}
.services{
background-color:white;
text-align: center;
padding: 20px;
margin-top: 50px;
border-radius: 10px;
width:80%;
margin-left: 130px;
height: 190px;
}
.service-container h1{
    text-align: center;
    color:white;
    margin-top:20px;
}
.services:hover{
    transform: scale(1.1); 
    background-color: #55ff83;
}